.works-wrapper {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.selected-works {
  margin: 0;
  margin-top: 75px;
  font-family: var(--headings-primary-font);
  font-size: 1.4em;
}

.works-list {
  font-family: var(--headings-primary-font);
  padding-left: 0px;
  margin: 10px 0;
  list-style: none;
}

.works-links {
  text-decoration: none;
  position: relative;
  display: block;
}

.works-links::before {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0; 
  height: 1px; 
  background-color: rgb(255, 255, 255); 
  transition: width 0.4s;
}

.works-links:hover::before {
  width: 100%; 
}

.works {
  display: block; 
  margin: 0px 0px 5px; 
}
