/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  margin: 0;
}

.main {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 65% 15% 10%;
    /* row-gap: 1em; */
    grid-template-areas: 
      "header-wrapper"
      "works-wrapper"
      "nav-wrapper"
      "footer";
}

.layout-wrapper {
  height: 100%;
  padding: 60px 20px;
}