/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  margin: 0;
}

/* body {
  height: 100vh;
  width: 100vw;
  border: green solid 2px;
  padding: 40px;
} */

.main {
    display: grid;
    height: 100vh;
    width: 100vw;
    border: solid red;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 50% 15% 10%;
    grid-template-areas: 
      "header-wrapper"
      "works-wrapper"
      "nav-wrapper"
      "footer";
}

/* .layout-wrapper {
  padding: 60px;
} */

.header-wrapper {
  grid-area: header-wrapper;
  background-color: rgb(71, 169, 255);
}

.works-wrapper {
  grid-area: works-wrapper;
  background-color: aqua;
}

.nav-wrapper {
  grid-area: nav-wrapper;
  background-color: beige;
}

.footer {
  grid-area: footer;
  background-color: yellow;
}


/* @media screen and (max-width: 42em) {
  .main {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 65% 15% 10%;
    grid-template-areas: 
    "header-wrapper"
    "works-wrapper"
    "nav-wrapper"
    "footer";
  }
} */



