/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  margin: 0;
}

/* body {
  height: 100vh;
  width: 100vw;
  border: green solid 2px;
  padding: 40px;
} */

.main {
    display: grid;
    height: 100vh;
    width: 100vw;
    /* padding: 40px; */
    border: solid red;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 65% 15% 10%;
    grid-template-areas: 
      "header-wrapper"
      "works-wrapper"
      "nav-wrapper"
      "footer";
}

.layout-wrapper {
  padding: 60px;
}

@media screen and (max-width: 42em) {
  .main {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 65% 15% 10%;
    grid-template-areas: 
    "header-wrapper"
    "works-wrapper"
    "nav-wrapper"
    "footer";
  }
}



