.header-wrapper {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  flex-flow: wrap;
  margin-top: 45px;
  padding: 0px;
  width: 100%;
}

.name-wrapper {
  flex-basis: calc(62.5%);
  max-width: calc(62.5%);
  margin-top: 0px;
}


.name {
  margin: 0%;
  width: 100%;
  font-family: var(--headings-primary-font);
  color: var(--headings-primary-font-color);
  font-size: 2rem;
}

.header {
  flex-basis: initial;
  max-width: initial;
  margin-left: auto;
  width: fit-content;
}

.title {
  font-size: 1.4rem;
  margin: 0%;
  font-family: var(--headings-primary-font);
  color: var(--headings-primary-font-color);
}

.email {
  font-family: var(--headings-primary-font);
  color: var(--headings-secondary-font-color);
  font-weight: 400;
  font-size: 1rem;
  margin: 0%;
  text-decoration: none;
  position: relative;
}

.email::before {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0; 
  height: 1px; 
  background-color: rgb(0, 0, 0); 
  transition: width 0.4s;
}

.email:hover:before {
  width: 100%; 
}

@media screen and (max-width: 40em) {
  .header {
    flex-basis: 100%;
  }

  .name {
    font-size: 1.5em;
  }

  .title {
    font-size: 1rem;
  }

  .selected-works {
    font-size: 1em;
  }
}